<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Open Speech Recording</title>
    <link href="static/styles/app.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Open Speech Recording</h1>
      </header>

      <section class="top-display">

	<div class="welcome-display">
    This is a fork of the <a href="https://github.com/petewarden/open-speech-recording">
    original audio crowdsourcing tool</a> made by
    <a href="https://github.com/petewarden">Pete Warden</a>, which was used
    to put together <a href="https://github.com/tensorflow/tfjs-models/tree/master/speech-commands">
    Speech Commands</a>, an open source keyword data set.

    I just changed it and simplified it to save the audios locally, with the
    intent to use them for keyword spotting tinyml applications.
	</div>
	<div class="welcome-display">
    Any information or audio recorded here is sent to anywhere but the same computer
    where it is running.
	</div>
  <div class="welcome-display">
    I strongly suggest you to take a look at the awesome work made by Pete and very
    well described in the
    <a href="https://arxiv.org/pdf/1804.03209.pdf">Speech Commands</a> paper.
	</div>
      </section>

      <section class="main-controls">
        <div id="buttons">
          <a href="/start" class="continue-link">
	    <button class="continue">Start!</button>
	  </a>
        </div>
      </section>

    </div>

    <footer>
      <a href="https://github.com/petewarden/open-speech-recording", target=”_blank”>The original open speech recorder form Pete Warden</a>
      </br>
      <a href="https://arxiv.org/pdf/1804.03209.pdf", target=”_blank”>Speech Commands paper</a>
    </footer>

  </body>
</html>
